<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no">
    <link rel="stylesheet" href="/styles.css">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Gym Tracker</title>
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/icon-192.png">
</head>
<body id="calendar-body">
    
    <div class="header-div">
        <div class="nav-div">
            <img src="/icons/icon-512.png" alt="logo">
            <a href="/">Workouts</a>
            <a href="/exercises">Exercises</a>
            <a href="/calendar">Calendar</a>
        </div>
    </div>

    <div id="calendar-div">
        <div id="calendar-header-div">
            <button id="calendar-last-button" onclick="changeMonth(-1)">< Last</button>
            <span id="calendar-month-span"></span>
            <button id="calendar-next-button" onclick="changeMonth(1)">Next ></button>
        </div>
        <div id="calendar"></div>    
    </div>

    <div id="workouts-list-div">
        <% for (let i=completedWorkoutsData.length-1; i>=0; i--) { %>
            <% const workout = completedWorkoutsData[i] %>
            <div class="workout">
                <h3><%= workout.name %></h3>
                <span><%= workout.date %>,</span>
                <span><%= workout.duration %></span><br>
                <% workout.exercises.forEach(exercise => { %>
                    <span><%= exercisesData[exercise].name %></span>
                <% }) %>
            </div>
        <% } %>
    </div>

    <script src="/scripts.js" defer></script>
    <script type="application/json" id="preset-workouts-data"><%- JSON.stringify(presetWorkoutsData) %></script>
    <script type="application/json" id="completed-workouts-data"><%- JSON.stringify(completedWorkoutsData) %></script>
    <script type="application/json" id="categories-data"><%- JSON.stringify(categoriesData) %></script>
    <script type="application/json" id="exercises-data"><%- JSON.stringify(exercisesData) %></script>
</body>
</html>